.App {

  background-color: midnightblue; 
  height: 100vh; 
}

.hero-table{
  width: 100%; 
}

.header-container{
  width: 100%; 
  height: 100px; 
  background-color: indigo; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  border-bottom: solid; 
  border-color: black;  
}

.hero-list{
  border:solid; 
  border-color: black; 
  width: 75%;
  margin-left: 10%;
}


